{% extends 'layouts/base.html.twig' %}
{% set core_class = 'app-core--survey' %}

{% block body %}
<header class="header--survey">
  <div class="container">
    <div class="row">
      <div class="-user col-md-5 col-lg-4">
        <span class="app-user-mini-info text-right">
          <span class="_names">
            {{ user_vsi.lastname|capitalize }} {{ user_vsi.firstname|capitalize }}
          </span>
          <span class="_email">{{ user_vsi.email }}</span>
        </span>
        <span class="app-avatar icon icon-user ml-2"></span>
      </div>

      <h1 class="-title col-md-7 col-lg-8 order-md-first">
        <span class="icon-edit"></span>
        {{ survey.label }}
      </h1>
    </div>
  </div>
</header>

<div class="container container--survey">
  <div class="card card--survey text-center">
    <div class="card-header">
      <h2 class="h4 mb-0">Questionnaire terminé&nbsp;!</h2>
    </div>
    <div class="card-body py-5">
      <p>
        Vous avez répondu à toutes les questions, merci pour votre participation
        <b>{{ user_vsi.firstname|lower|capitalize }}</b>.
      </p>
      <p class="mb-0">À très bientôt !</p>
    </div>
    <div class="card-footer"></div>
  </div>
</div>
{% endblock %}
