<div style="font-family:Arial,sans-serif">
  Bonjour {{ user.firstname|capitalize }},<br>

  <p>
    Une personne s'est désistée de l'atelier <b>{{ workshop.theme.name }}</b>,
    se déroulant le <b>{{ workshop.getDateStart() | localizeddate('long', 'none', 'fr') }}
    à {{ workshop.getDateStart() | localizeddate('none', 'short', 'fr') }}</b>.<br>
    Comme vous étiez en file d'attente, vous avez été inscrit&middot;e automatiquement à cet atelier.
  </p>

  {% if workshop.isWaitingSubscribesValidation() %}
    <p>
      Confirmez dès <b>aujourd'hui</b> votre inscription pour cet atelier.
    </p>
    <br>

    <a href="{{ url('dashboard') }}" style="color: #fff; background-color: #4aa5e6; border: 1px solid #459bd8; text-decoration: none; font-size: 14px; line-height: 1.5; text-align: center; border-radius: 4px; padding: 7px 20px; user-select: none; white-space: nowrap;">
      Se rendre sur le site
    </a>
  {% else %}
    <p>
      Rendez-vous le <b>{{ workshop.getDateBeforeStoppingSubscribe() | localizeddate('long', 'none', 'fr') }}
      à partir de {{ workshop.getDateBeforeStoppingSubscribe() | localizeddate('none', 'short', 'fr') }}</b>, sur le site
      <a href="{{ url('dashboard') }}" style="color: #4aa5e6;">des ateliers d'Ingeneria</a>, pour confirmer votre inscription à cet atelier.
    </p>
  {% endif %}

  <br>
  <br><br>
  A bientôt !

  {# Makes an absolute URL to the /images/logo.png file #}
  {#<img src="{{ absolute_url(asset('images/logo.png')) }}">#}
</div>
